.body--container {
    height: 100vh;

    background: linear-gradient(135deg, #9d45f5, #6d1dbe);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}